<div class="container">
  <div class="form">
    <%=simple_form_for @guild do |f| %>
      <%=f.input :name %>
      <%=f.input :image, as: :file %>
      <%=f.input :icon, as: :file %>
      <%=f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
