<%# TABS BEGIN %>
<div class="main-container">
  <div class="upper-container">
    <div class="tabs">
      <div class="tab">
        <p><%= link_to "Members", guild_path(@guild) %></p>
      </div>
      <div class="tab">
        <p>Chat</p>
      </div>
      <div class="tab">
        <p><%= link_to "Events", guild_events_path(@guild) %></p>
      </div>
    </div>

    <% if @guild.owner == current_user.member %>
      <button data-controller="clipboard" data-action="click->clipboard#copy" data-clipboard-code-value="<%= @guild.join_code %>" class="tab invite">
        <p>Invite a member</p>
      </button>
    <% end %>
  </div>

  <div class="members-container">
    <% @guild.members.each do |member| %>
      <div class="member" data-controller="member-dropdown">
        <div class="dropdown" data-action="click->member-dropdown#toggle">
          <div class="member-details">
            <%= cl_image_tag member.profile_image.key %>
            <p><%= member.username %></p>
          </div>

          <div class="member-actions">
            <% if @guild.owner == current_user.member || member == current_user.member %>
              <button class="edit-member" data-action="click->display-modal#show" data-modal="edit_member">
                <%# This is a p tag for better styling targets %>
                <p>Edit member</p>
              </button>
            <% end %>

            <i class="fa-solid fa-chevron-left dropdown-icon"></i>
          </div>
        </div>

        <div class="member-content">
          <% if member.game_members.any? %>
            <% member.game_members.each do |gm| %>
              <div class="game">
                <%= cl_image_tag gm.game.game_icon.key %>
                <h3><%= gm.game.name %>: <%= gm.member_game_name %></h3>
              </div>
            <% end %>
          <% else %>
            <em><%= member.username %> is not a part of any games</em>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
