<%# TABS BEGIN %>
<div class="main-container"; style="background-image: url('cl_image_tag(@guild.image.key')";>
  <div class="container mt-5">
    <div data-controller="clipboard" class="d-flex flex-row-reverse">
    <%# invite a member only appears if the current_user = guilde.member %>
    <% if @guild.owner == current_user do %>
      <input data-clipboard-target="source" type="text" value='http://localhost:3000/invite/<%=@guild.join_code%>' readonly class="mb-5 d-none">
      <button data-action="clipboard#copy" class="btn btn-secondary mt-2">Invite a member</button>
      <% end %>
    <% end %>
    </div>
    <div class="tabs-container">
      <ul class="breadcrumb">
        <li class="breadcrumb__item breadcrumb__item-firstChild">
          <span class="breadcrumb__inner">
          <%# <span class="breadcrumb__title">Members</span> %>
          <%=link_to "Member", guild_path(@guild), class: "breadcrumb__title"%>
          </span>
        </li>
        <li class="breadcrumb__item">
          <span class="breadcrumb__inner">
          <%# <span class="breadcrumb__title">Chat</span> %>
          <%=link_to "Chat", guild_path(@guild), class: "breadcrumb__title"%>
          </span>
        </li>
        <li class="breadcrumb__item">
          <span class="breadcrumb__inner">
          <%= link_to "Events", guild_events_path(@guild), class: "breadcrumb__title" %>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <%# TABS END %>
  <%# --------------------------------------------------------------------------------------------------------- %>
  <%# ACCORDIONS BEGIN %>
  <div class="container-accordions">
    <% @guild.members.each do |member| %>
      <label class="accordion-wrapper">
      <input type="checkbox" class="accordion" hidden />
      <div class="title" style="width: 100%; justify-content: space-between;">
        <div class="title-image">
          <%=cl_image_tag(member.profile_image.key, class: "game-logo") %>
          <strong><%=member.username%></strong>
        </div>
        <%=link_to 'edit username', guild_path(@guild), class: "edit-user" %>
      </div>
      <div class="content">
        <% member.games.each do |game| %>
        <div class="game-content-info">
          <%=cl_image_tag(game.game_icon.key, class: "game-logo") %>
          <p><strong><%=game.name%></strong></p>
        </div>
        <div class="gamer-content-info">
          <p><i class="fa-solid fa-gamepad"></i>  <%=member.get_game_member_name(game)%></p>
        </div>
        <% end %>
      </div>
      </label>
    <% end %>
  </div>
</div>
