<!-- <div class="navbar" data-controller="navbar-dropdown">


  <div class="navbar-game-name">
    <% if @game.present? %>
      <p><%= @game.name %></p>
    <% elsif @source.is_a?(Game) %>
      <p><%= @source.name %></p>
    <% end %>
  </div>

  <div class="profile">
    <p class="navbar-username"><%= current_user.member.username %></p>
    <div class="dropdown">
      <div class="nav-user-picture" data-action="click->navbar-dropdown#toggleDropdown">
        <%= cl_image_tag(current_user.member.profile_image.key, alt: "Profile Picture", height: "40px", width: "40px") %>
      </div>
      <div class="dropdown-content d-none" data-navbar-dropdown-target="dropdown">
        <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Log out?" } %>
      </div>
    </div>
  </div>
</div> -->

<div class="navbar" data-controller="navbar-dropdown">
  <div class="guild-nav">
    <% if locals[:guild].id %>
      <%= link_to guild_path(locals[:guild]) do %>
        <% if locals[:guild].icon.attached? %>
          <%= cl_image_tag(locals[:guild].icon.key, alt: "Guild Icon", height: "40px", width: "40px", class: "icon") %>
        <% end %>
      <% end %>
      <span class="guild-name"><%= locals[:guild].name %></span>
    <% end %>
  </div>

  <% if @game.present? %>
    <p class="game-name"><%= @game.name %></p>
  <% elsif @source.is_a?(Game) %>
    <p class="game-name"><%= @source.name %></p>
  <% end %>

  <div class="nav-user">
    <p><%= current_user.member.username %></p>
    <div class="nav-user-image" data-action="click->navbar-dropdown#toggleDropdown">
      <%= cl_image_tag current_user.member.profile_image.key, alt: "User avatar", height: "40px", width: "40px" %>
    </div>

  </div>
  <div class="profile-dropdown" data-navbar-dropdown-target="dropdown">
    <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
  </div>
</div>
