<div class="navbar" data-controller="navbar-dropdown">
  <% if current_user %>
    <div>
      <%= link_to guild_path(locals[:guild]) do %>
        <% if locals[:guild].icon.attached? %>
          <%= cl_image_tag(locals[:guild].icon.key, alt: "Guild Icon", height: "40px", width: "40px", class: "icon") %>
        <% end %>
      <% end %>
      <% if locals[:guild] %>
        <span class="icon-name"><%= locals[:guild].name %></span>
      <% end %>
    </div>
  <% end %>
  <% if current_user %>
    <div class="profile">
      <div class="dropdown" >
        <div class="nav-user-picture" data-action="click->navbar-dropdown#toggleDropdown">
          <%= cl_image_tag(current_user.member.profile_image.key, alt: "Profile Picture", height: "40px", width: "40px") %>
        </div>
        <div class="dropdown-content d-none" data-navbar-dropdown-target="dropdown">
          <%= link_to "Edit profile", "#" %>
          <%= link_to "Log out", "#", data: { turbo_method: :delete } %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="signup">
      <%= link_to "Login/Sign up", "#" %>
    </div>
  <% end %>
</div>
