<!DOCTYPE html>
<html>
  <head>
    <title>The Guild - The all-in-one place for guilds!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="og:description" content="<%= meta_description %>">
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= meta_image %>">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="display-modal">
    <div class="our-header">
      <h1>THE GUILD</h1>
      <div class="actions">
        <% if current_user %>
          <% if current_user.member.guild.nil? %>
              <%#= link_to "Create a Guild", new_guild_path %>
              <button data-action="click->display-modal#show" data-modal="new_guild" data-type="guild">Create a guild</button>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_confirm: "Log out?"} %>
          <% else %>
            <%= button_to "Your Guild", guild_path(current_user.member.guild), method: :get %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_confirm: "Log out?"} %>
          <% end %>
        <% else %>
          <%= button_to "Sign-In", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <div class="main-banner banner-image parallax">
      <div class="banner-text">
        <h2>The All-in-One Place for Guilds</h2>
        <h3>Connect, Discover, Conquer</h3>
      </div>
    </div>

    <div class="guild-description">
      <h2>For the greater guild</h2>
      <p>A guild is a group of players who come together to play games. They can be competitive or casual, but they all share a common goal: to have fun. The Guild is a platform that helps guild members connect, and sign-up for events.</p>
    </div>

    <div class="event-image info-banner parallax">
      <div class="text-wrapper">
        <h2>Event scheduling</h2>
        <p>Easily Schedule events or raids for any of your games, or for the whole guild! Only see the events relevant to you, and join easily!</p>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="chat-image info-banner parallax">
      <div class="text-wrapper">
        <h2>Centralized Chat</h2>
        <p>Easily chat with your guild in one place. No need for multiple servers. A chat for your guild and each game. See the messages you need to and none of the messages you don't.</p>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="member-image info-banner parallax">
      <div class="text-wrapper">
        <h2>See Guild Members</h2>
        <p>Have easy access to the details of each guild member. See who plays what game and what they do all in one place. And all without logging in to the game.</p>
      </div>
    </div>

    <div class="join-banner">
      <h2>Don't be left out!</h2>
      <p>Join The Guild and start connecting with your guild members in a much simpler way!</p>
      <%= button_to "Join in", new_user_session_path, method: :get %>
    </div>
    <div class="modal-root" data-display-modal-target="root"></div>
  </body>
</html>
