<%# This page is just to test event controller. New action wont exist while calling modal. Modal loads form and calls create action %>

<div class="container mt-4">
  <%= simple_form_for(@event) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%# This format sucks...maybe we use flatpickr again? %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.button :submit %>
  <% end %>

</div>
