<div class="main-container">
  <div class="upper-container">
    <div class="tabs">
      <%= link_to game_path(@game), class: "tab" do %>
        <p>Members</p>
      <% end %>
      <%= link_to chatroom_path(@game.chatroom), class: "tab" do %>
        <p>Chat</p>
      <% end %>
      <%= link_to @source.is_a?(Guild) ? guild_events_path(@guild) : game_events_path(@game), class: "tab" do %>
        <p>Events</p>
      <% end %>
    </div>
    <div class="tabs">
      <div class="tab">
        <p>Members</p>
      </div>
      <div class="tab">
        <p>Chat</p>
      </div>
      <div class="tab">
        <p><%= link_to "Events", @source.is_a?(Guild) ? guild_events_path(@guild) : game_events_path(@game), class: "event-btn" %></p>
      </div>
    </div>
    </div>
      <div class="card-container">
        <div class="game-member-card-wrapper">
        <% @game.members.each do |member| %>
          <div class="game-member-card">
            <div class="card-image img"; style="background-image: url(<%=cl_image_path(member.profile_image.key)%>">
              <%# <%= cl_image_tag(member.profile_image.key, class: "img") %>
            </div>
            <% member.game_members.each do |gm| %>
              <div class="card-details">
                <p><strong><i class="fa-solid fa-gamepad"></i>  <%= member.username %> - <%= gm.member_game_name %></strong></p>
              <%# <% if member.role == "admin" do %>
                <p class="role-title"><i class="fa-solid fa-crown"></i> <%=member.role %></p>
                <%# <% else %>
                <%# <p class="role-title"><%=member.role %>
                <%# <% end %>
              <%# <% end %>
                <p class="role-title"><i class="fa-solid fa-shield-halved"></i> <%=gm.details %></p>
            </div>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
