<div class="main-container">
  <div class="upper-container">
    <div class="tabs">
      <%= link_to game_path(@game), class: "tab" do %>
        <p>Members</p>
      <% end %>
      <%= link_to chatroom_path(@game.chatroom), class: "tab" do %>
        <p>Chat</p>
      <% end %>
      <%= link_to @source.is_a?(Guild) ? guild_events_path(@guild) : game_events_path(@game), class: "tab" do %>
        <p>Events</p>
      <% end %>
    </div>

    <% if current_user.member.role == "admin" %>
    <div class="game-buttons">
      <div class="tabs">
      <button class="tab" data-action="click->display-modal#show" data-modal="edit_game" data-type="game" data-id="<%=@game.id%>">Edit Game</button>
        <%# <%= link_to edit_game_path(@game), class: "tab" do %>
          <%# <p>Edit</p> %>
        <%# end %>
        <%= link_to game_path, data: { turbo_method: :delete, turbo_confirm: "Delete this game? This will also remove all members from this game." }, class: "delete tab" do %>
          <p>Delete Game</p>
        <% end %>
        <button class="tab add" data-action="click->display-modal#show" data-modal="add_game_member" data-type="gamemember" data-source="game" data-sourceid="<%=@game.id%>"><p>ADD MEMBER</p></button>
        <%# <%= link_to new_game_game_member_path(@game), class: "tab add" do %>
          <%# <p>Add member</p> %>
        <%# <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="card-container">
    <div class="game-member-card-wrapper">
     <% @game_members.each do |gm| %>
        <div class="game-member-card">
          <div class="action-wrapper">
            <% if current_user.member == gm.member || current_user.member.role == "admin" %>
            <div class="edit">
            <button class="modal-create-btn" data-action="click->display-modal#show" data-modal="edit_game_member" data-type="gamemember" data-source="game" data-id="<%=gm.id%>" data-sourceid="<%=gm.game.id%>">Edit</button>
                <%# <%= link_to "Edit", edit_game_game_member_path(@game, gm) %>
            </div>
            <div class="remove">
                <%= link_to "Remove", game_game_member_path(@game, gm), data: { turbo_method: :delete, turbo_confirm: "Remove this member from the game?"} if current_user.member.role == "admin" %>
                <%= link_to "Leave", game_game_member_path(@game, gm), data: { turbo_method: :delete, turbo_confirm: "Leave this game?"} if current_user.member == gm.member && current_user.member.role != "admin" %>
            </div>
            <% end %>
          </div>

          <div class="card-image img" style="background-image: url(<%= cl_image_path(gm.member.profile_image.key) %>">
          </div>

            <div class="card-details">
              <p><strong><i class="fa-solid fa-gamepad"></i>  <%= gm.member.username %> - <%= gm.member_game_name %></strong></p>
              <p class="role-title"><i class="fa-solid fa-crown"></i> <%= gm.member.role %></p>
              <p class="role-title"><i class="fa-solid fa-shield-halved"></i> <%= gm.details %></p>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>
