<div class="container">
  <h1>Edit details for <%= @game_member.member.username %> in <%= @game.name %></h1>
  <%= simple_form_for [@game, @game_member] do |f| %>
    <%= f.input :member_game_name %>
    <%= f.input :details, label: "Player Details" %>
    <%= f.button :submit %>
  <% end %>
</div>
