<div class="simple-calendar">
  <div class="main-container">
    <div class="upper-container" data-controller="calendar">
        <div class="tabs">
          <%= link_to @source.is_a?(Guild) ? guild_path(@guild) : game_path(@source), class: "tab" do %>
            <p><i class="fa-solid fa-user-group"></i> Members</p>
          <% end %>
          <%= link_to chatroom_path(@source.chatroom), class: "tab" do %>
            <p><i class="fa-solid fa-comments"></i> Chat</p>
          <% end %>
          <%= link_to @source.is_a?(Guild) ? guild_events_path(@guild) : game_events_path(@source), class: "tab" do %>
            <p><i class="fa-solid fa-calendar-days"></i> Events</p>
          <% end %>
        </div>
    <div class="calendar-heading-month">
      <div class="calendar-info">
      <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title"><%= t('date.abbr_month_names')[start_date.month] %> <%= start_date.year %></time>
      </div>
      <div class="nav-button">
        <% if current_user.member.role == "admin" %>
        <button data-source="<%= @source.class.to_s.downcase %>" data-sourceid="<%= @source.id %>" data-action="click->display-modal#show" data-modal="new_event" data-type="event" method="get">
          <i class="fa-solid fa-calendar-plus"></i>
        </button>
        <% end %>
      </div>
    </div>
      <%# <p id="datetime" data-calendar-target="datetime" data-action="calendar#time"></p> %>
    </div>
    <div class="calendar-month">
    </div>
  <table class="table">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
    <nav>
      <div class="nav-button">
        <%= link_to  calendar.url_for_previous_view, class: "nav-button" do %>
          <i class="fa-solid fa-chevron-left"></i>
        <% end %>
      </div>


      <div class="nav-button">
      <%= link_to calendar.url_for_next_view, class: "nav-button" do %>
        <i class="fa-solid fa-chevron-right"></i>
      <% end %>
      </div>
      <%#= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view %>

    </nav>
</div>
<%# t('simple_calendar.previous', default: 'Previous') Default nav button for previous month %>
<%# t('simple_calendar.next', default: 'Next') Default nav button for next month %>
</div>
