<div class="modal-wrapper">
  <div class="modal-content">
    <div class="container">
    <div class="modal-title">
      <h3>Edit <%=gamemember.member_game_name%></h3>
    </div>
    <%= simple_form_for [source, gamemember] do |f| %>
    <%= f.hidden_field :member, input_html: { value: gamemember.member }%>
    <%= f.input :member_game_name, label_html: { class: 'modal-label'} %>
    <%= f.input :details, label_html: { class: 'modal-label'}%>
    <div class="modal-actions">
      <%= f.button :submit, "Yep", class: "modal-create-btn", method: :patch %>
      <button id="close" class="modal-cancel-btn" data-action="click->display-modal#hide">Nope</button>
    </div>
  <% end %>
  </div><!-- Your modal stuff goes here -->
  </div>
</div>
