<div class="modal-wrapper">
  <div class="modal-content">
    <div class="d-flex">
  <div class="event-info w-50 m-2">
  <h1><%= @event.name %></h1>
  <p>Event description: <%= @event.description %><br>
  Starts at: <%= @event.start.strftime("%l:%M %p, %b%e") %><br>
  Ends at: <%= @event.end.strftime("%l:%M %p, %b%e") %></p>
  <%= button_to "Sign up", event_members_path, params: {event: params[:id], member: current_user.member} %>
  </div>

  <div class="event-members w-50 m-2">
    <h2>Members attending</h2>
    <ul>
      <% @event.members.each do |member| %>
        <li><%= member.username %> - <%= member.role %></li>
      <% end %>
    </ul>
  </div>
</div>

  </div>
</div>
