<!DOCTYPE html>
<html>
  <head>
    <title>The Guild - The all-in-one place for guilds!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0238b7d81c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div id="nav">
      <%# render navbar %>
    </div>

    <% if !@guild.nil? %>
      <div id="page" data-controller="display-modal">
        <%= render "layouts/sidebar", locals: { guild: @guild, games: @games } %>
        <div id="content" style="background-image: url(<%= @guild.image.key ? cl_image_path(@guild.image.key) : "" %>);">
          <%= yield %>
        </div>
        <div class="modal-root" data-display-modal-target="root"></div>
      </div>
    <% else %>
      <div id="page">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    <% end %>
  </body>
</html>
