<!DOCTYPE html>
<html>
  <head>
    <title>The Guild - The all-in-one place for guilds!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="og:description" content="<%= meta_description %>">
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="website">

    <script src="https://kit.fontawesome.com/0238b7d81c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <div id="nav">
      <%= render "shared/navbar", locals: { guild: @guild || @game&.guild || @event&.guild || @chatroom.guild } %>
    </div>

    <% if !@guild.nil? || !@game.nil? %>
      <div id="page" data-controller="display-modal">
        <%= render "layouts/sidebar", locals: { guild: @guild || @game.guild, games: @games || @guild&.games || @game&.guild&.games || @chatroom.guild.games } %>
        <% if !@game.nil? %>
          <div id="content" style="background-image: url(<%= @game.game_banner.key ? cl_image_path(@game.game_banner.key) : '' %>);">
            <%= yield %>
          </div>
        <% else %>
          <div id="content" style="background-image: url(<%= @guild.image.key ? cl_image_path(@guild.image.key) : '' %>);">
            <%= yield %>
          </div>
        <% end %>
        <div class="modal-root" data-display-modal-target="root"></div>
      </div>
    <% else %>
      <div id="page">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    <% end %>
  </body>
</html>
